@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;700&family=Amiri:ital,wght@1,700&family=Cairo+Play:wght@700&family=Cairo:wght@600&display=swap');
body {
  font-family: 'Cairo Play', cursive;
  background: url(/1.png) no-repeat;
  background-size: contain;
  height: 350px;
  margin: 15px;
  }

  h1 {
    text-align: right;
    color: #121313;
    margin: 40px;
    font-size: 50px;
  }
  .box {
    position: fixed;
    right: 40px;
    width: 40%;
    margin: 50px auto;
    background: black;
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #fab328;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #fab328;
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup {
    text-align: center;
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #fab328;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
  